.auth-container{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:var(--background);

padding:20px;

}



.auth-card{

background:white;

width:100%;

max-width:450px;

padding:40px;

border-radius:20px;

box-shadow:var(--shadow-md);

}



.auth-header{

text-align:center;

margin-bottom:30px;

}



.auth-header h1{

font-family:"Poppins",sans-serif;

margin:20px 0 10px;

}



.auth-header p{

color:var(--text-light);

}



.logo{

font-size:32px;

font-weight:800;

color:var(--primary);

}



.form-group{

margin-bottom:20px;

display:flex;

flex-direction:column;

gap:8px;

}



.form-group input{

padding:14px;

border:1px solid var(--border);

border-radius:12px;

font-size:16px;

}



.password-field{

position:relative;

}



.password-field button{

position:absolute;

right:12px;

bottom:10px;

background:none;

}



.auth-btn{

width:100%;

margin-top:20px;

}



.form-options{

display:flex;

justify-content:space-between;

font-size:14px;

}



.auth-footer{

text-align:center;

margin-top:25px;

}